.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/

target/
*.class
*.jar
*.war
*.ear
backend/target/
backend/apache-maven-*/
backend/maven.zip

*.db
*.log
.metadata
.recommenders/
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db
